In [3]:
!pip install fastparquet

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: fastparquet in c:\users\yatharth jain\appdata\roaming\python\python310\site-packages (2024.2.0)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from fastparquet) (22.0)
Requirement already satisfied: pandas>=1.5.0 in c:\programdata\anaconda3\lib\site-packages (from fastparquet) (1.5.3)
Requirement already satisfied: cramjam>=2.3 in c:\users\yatharth jain\appdata\roaming\python\python310\site-packages (from fastparquet) (2.8.2)
Requirement already satisfied: fsspec in c:\users\yatharth jain\appdata\roaming\python\python310\site-packages (from fastparquet) (2024.2.0)
Requirement already satisfied: numpy>=1.20.3 in c:\programdata\anaconda3\lib\site-packages (from fastparquet) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.5.0->fastparquet) (2022.7)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.5.0->fastparquet) (1.16.0)

In [4]:
import fastparquet as fpqt

In [5]:
# read parquet files and display one
df = fpqt.ParquetFile('data/test_eegs/3911565283.parquet').to_pandas()

In [6]:
df

,Fp1,F3,C3,P3,F7,T3,T5,O1,Fz,Cz,Pz,Fp2,F4,C4,P4,F8,T4,T6,O2,EKG
0,9.210000,-47.459999,15.100000,8.220000,-16.900000,-22.99,-25.820000,-10.090000,28.370001,-3.010000,-27.299999,101.040001,35.110001,14.540000,18.330000,28.540001,44.090000,69.650002,30.74,171.679993
1,-3.590000,-30.290001,32.380001,10.800000,-68.980003,-21.60,-15.080000,-9.210000,26.360001,-8.980000,-32.279999,95.800003,26.389999,4.820000,10.540000,20.559999,32.060001,59.439999,23.32,178.279999
2,-26.040001,-60.070000,2.370000,-10.150000,-34.689999,-31.40,-31.920000,-26.980000,-1.940000,-28.770000,-49.770000,73.449997,-3.680000,-17.320000,-16.150000,-8.270000,5.330000,45.180000,9.49,306.739990
3,-3.040000,-36.250000,29.559999,14.530000,-14.010000,-11.90,-14.230000,-6.310000,26.040001,-2.770000,-25.030001,91.010002,22.610001,6.900000,9.930000,15.480000,33.580002,69.620003,31.01,223.259995
4,-4.630000,-20.160000,25.190001,1.190000,-44.580002,-23.51,-30.709999,-17.600000,25.420000,-8.860000,-33.959999,89.449997,19.440001,-2.080000,6.110000,8.380000,24.180000,55.869999,19.91,170.759995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,-26.889999,-45.480000,-17.250000,-23.570000,19.059999,-9.40,-27.120001,-21.580000,-75.760002,-65.800003,-88.790001,-30.090000,-49.830002,-75.339996,-61.139999,-71.889999,-53.299999,-8.130000,-12.38,-34.799999
9996,-24.049999,-41.689999,-13.450000,-26.219999,14.210000,0.02,-30.030001,-22.219999,-75.440002,-68.639999,-91.099998,-33.180000,-45.610001,-78.809998,-61.259998,-71.889999,-55.009998,-12.320000,-15.15,-27.799999
9997,-34.500000,-55.340000,-25.959999,-30.670000,8.890000,-9.74,-38.520000,-30.330000,-87.080002,-70.690002,-92.320000,-37.349998,-57.290001,-80.209999,-67.320000,-72.919998,-57.110001,-12.330000,-15.20,21.980000
9998,-16.110001,-35.980000,-8.570000,-12.020000,28.580000,5.45,-20.510000,-10.300000,-65.459999,-50.730000,-71.650002,-15.970000,-36.380001,-59.660000,-46.310001,-51.520000,-39.740002,6.770000,3.74,-5.800000
9999,-3.260000,-17.840000,4.030000,-8.930000,34.270000,6.77,-15.670000,-4.760000,-52.930000,-49.180000,-72.570000,-10.600000,-27.830000,-60.209999,-41.820000,-53.939999,-42.650002,-0.270000,-1.19,-54.950001

In [7]:
print(df)

            Fp1         F3         C3         P3         F7     T3         T5  \
0      9.210000 -47.459999  15.100000   8.220000 -16.900000 -22.99 -25.820000
1     -3.590000 -30.290001  32.380001  10.800000 -68.980003 -21.60 -15.080000
2    -26.040001 -60.070000   2.370000 -10.150000 -34.689999 -31.40 -31.920000
3     -3.040000 -36.250000  29.559999  14.530000 -14.010000 -11.90 -14.230000
4     -4.630000 -20.160000  25.190001   1.190000 -44.580002 -23.51 -30.709999
...         ...        ...        ...        ...        ...    ...        ...
9995 -26.889999 -45.480000 -17.250000 -23.570000  19.059999  -9.40 -27.120001
9996 -24.049999 -41.689999 -13.450000 -26.219999  14.210000   0.02 -30.030001
9997 -34.500000 -55.340000 -25.959999 -30.670000   8.890000  -9.74 -38.520000
9998 -16.110001 -35.980000  -8.570000 -12.020000  28.580000   5.45 -20.510000
9999  -3.260000 -17.840000   4.030000  -8.930000  34.270000   6.77 -15.670000

             O1         Fz         Cz         Pz         Fp2         F4  \
0    -10.090000  28.370001  -3.010000 -27.299999  101.040001  35.110001
1     -9.210000  26.360001  -8.980000 -32.279999   95.800003  26.389999
2    -26.980000  -1.940000 -28.770000 -49.770000   73.449997  -3.680000
3     -6.310000  26.040001  -2.770000 -25.030001   91.010002  22.610001
4    -17.600000  25.420000  -8.860000 -33.959999   89.449997  19.440001
...         ...        ...        ...        ...         ...        ...
9995 -21.580000 -75.760002 -65.800003 -88.790001  -30.090000 -49.830002
9996 -22.219999 -75.440002 -68.639999 -91.099998  -33.180000 -45.610001
9997 -30.330000 -87.080002 -70.690002 -92.320000  -37.349998 -57.290001
9998 -10.300000 -65.459999 -50.730000 -71.650002  -15.970000 -36.380001
9999  -4.760000 -52.930000 -49.180000 -72.570000  -10.600000 -27.830000

             C4         P4         F8         T4         T6     O2         EKG
0     14.540000  18.330000  28.540001  44.090000  69.650002  30.74  171.679993
1      4.820000  10.540000  20.559999  32.060001  59.439999  23.32  178.279999
2    -17.320000 -16.150000  -8.270000   5.330000  45.180000   9.49  306.739990
3      6.900000   9.930000  15.480000  33.580002  69.620003  31.01  223.259995
4     -2.080000   6.110000   8.380000  24.180000  55.869999  19.91  170.759995
...         ...        ...        ...        ...        ...    ...         ...
9995 -75.339996 -61.139999 -71.889999 -53.299999  -8.130000 -12.38  -34.799999
9996 -78.809998 -61.259998 -71.889999 -55.009998 -12.320000 -15.15  -27.799999
9997 -80.209999 -67.320000 -72.919998 -57.110001 -12.330000 -15.20   21.980000
9998 -59.660000 -46.310001 -51.520000 -39.740002   6.770000   3.74   -5.800000
9999 -60.209999 -41.820000 -53.939999 -42.650002  -0.270000  -1.19  -54.950001

[10000 rows x 20 columns]